<div class="jumbotron">
  <h1>Welcome to Cuitter</h1>
  <p>
    Microblogging platform inspired by Twitter and built on top of Ruby on Rails.
  </p>
  <p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails Logo"), "http://rubyonrails.org" %>
