<footer class="footer">
  <div class="container">
    <div class="credit">
      <%= link_to "Cuitter", root_path %> By
      <a href="https://jurnal.risan.io">Risan Bagja</a>
    </div>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://weblog.rubyonrails.org/">Rails News</a></li>
      </ul>
    </nav>
  </div>
</footer>
