<footer class="footer">
  <div class="container">
    <div class="credit">
      <%= link_to "Cuitter", "#" %> By
      <a href="#">Risan Bagja</a>
    </div>
    <nav>
      <ul>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
        <li><%= link_to "News", "#" %></li>
      </ul>
    </nav>
  </div>
</footer>
