<!doctype html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="container"><%= yield %></div>
    <%= render "layouts/footer" %>
  </body>
</html>
